Repository walkaroundcity/walkaroundcity, changes with the labels that .github/labeler.yml gives for each.
All labels: test, utils, db, infra, auth, components, hooks, layouts, pages, dependencies

.github/labeler.yml:

test:
  - "**/*.test.ts"
  - "**/*.test.tsx"

utils:
  - "utils/**/*"

db:
  - "db/**/*"
  - "app/**/mutations/**/*"
  - "app/**/queries/**/*"

infra:
  - ".github/**/*"
  - "./*"
  - ".vscode/**/*"

auth:
  - "app/auth/**/*"

components:
  - "app/components/**/*"

hooks:
  - "app/hooks/**/*"

layouts:
  - "app/layouts/**/*"

pages:
  - "app/pages/**/*"

dependencies:
  - "yarn.lock"
  - "package-lock.json"

fix: change logo text
  .vscode/settings.json
  app/core/components/HeaderBar.tsx
Labels: infra

fix: remove unused icons
  app/auth/api/auth/[...auth].ts
  app/core/components/Icons/index.tsx
Labels: auth

fix: add override for postgres
  .env.example
  app/auth/api/auth/[...auth].ts
  app/auth/pages/login.tsx
  app/core/components/Icons/index.tsx
  global.d.ts
  integrations/facebookLogin.ts
  tsconfig.json
Labels: infra, auth

feat: set up vercel deployments
  .env.example
  app/auth/api/auth/[...auth].ts
  app/auth/pages/login.tsx
  app/core/components/Icons/index.tsx
  global.d.ts
  integrations/facebookLogin.ts
  tsconfig.json
Labels: infra, auth

fix: drop box login
  app/auth/api/auth/[...auth].ts
  app/auth/pages/login.tsx
  app/core/components/Icons/index.tsx
  integrations/dropboxLogin.ts
  types.d.ts
  types.ts
Labels: infra, auth

fix: drop box login
  app/auth/api/auth/[...auth].ts
  app/auth/pages/login.tsx
  app/core/components/Form.tsx
  app/core/components/Icons/index.tsx
  app/pages/walks/[walk].tsx
  app/pages/walks/[walk]/edit.tsx
  app/pages/walks/index.tsx
  app/pages/walks/new.tsx
  app/walks/components/WalkForm.tsx
  app/walks/mutations/createWalk.ts
  app/walks/mutations/deleteWalk.ts
  app/walks/mutations/updateWalk.ts
  app/walks/queries/getWalk.ts
  app/walks/queries/getWalks.ts
  db/migrations/20210226140900_initialize/migration.sql
  db/migrations/20210228222108_initialize/migration.sql
  db/migrations/20210312092809_/migration.sql
  db/schema.prisma
  db/seeds.ts
  integrations/dropboxLogin.ts
  integrations/magicLogin.ts
  package.json
  types.d.ts
  types.ts
  utils/fake.ts
  utils/uniqueShortname.ts
  yarn.lock
Labels: utils, db, infra, auth, pages, dependencies

feat: add ponicode
  .vscode/extensions.json
  .vscode/settings.json
  utils/config.test.ts
  utils/config.ts
Labels: test, utils, infra

feat: use codeclimate instead of codefactor
  README.md
Labels: infra

feat: collect jest coverage
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  .gitignore
  app/walks/mutations/createWalk.ts
  app/walks/mutations/deleteWalk.ts
  app/walks/mutations/updateWalk.ts
  blitz.config.js
  package.json
  types.d.ts
  yarn.lock
Labels: db, infra, dependencies
